<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353730302299-f4eun3p25llq6ro4du1i0nhof0bek7lg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353730302299-f4eun3p25llq6ro4du1i0nhof0bek7lg</string>
	<key>API_KEY</key>
	<string>AIzaSyDppHbLRc7HK4vZqB0ZsP7ogiDLwXk56HM</string>
	<key>GCM_SENDER_ID</key>
	<string>353730302299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snapashot</string>
	<key>PROJECT_ID</key>
	<string>snap-a-shot</string>
	<key>STORAGE_BUCKET</key>
	<string>snap-a-shot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353730302299:ios:43245d6ae1824ade538a7e</string>
</dict>
</plist>